---
import type { CollectionEntry } from 'astro:content'
import type { Page } from 'astro'
import { SEO } from 'astro-seo'

import { i18n } from '@/i18n'

import Root from '@/layouts/Root.astro'
import Main from '@/layouts/Main.astro'

import RenderPosts from './RenderPosts.astro'
import BlogPagination from './BlogPagination.astro'

const t = i18n(Astro.currentLocale)

interface Props {
  page: Page<CollectionEntry<'blog'>>
}

const { page } = Astro.props
---

<Root>
  <SEO slot="seo" {...t.blog.meta} />
  <Main>
    <h1 class="text-4xl text-foreground font-medium pt-16 mb-12">
      {t.blog.title}
    </h1>
    <div class="h-full">
      <RenderPosts posts={page.data} />
    </div>
    <BlogPagination {page} />
  </Main>
</Root>
